<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.variyasinc.com">
          Variyas
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.variyasinc.com/about-us?ref=bda-footer">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://blog.variyasinc.com?ref=bda-footer"> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
    variyasinc  &copy; {{ test | date: "yyyy" }}
    </div>
  </div>
</footer>
